<ion-button expand="block" (click)="triggerFileInput()">
  <ion-icon name="add"></ion-icon>
  Upload Image
</ion-button>

<input
  #fileInput
  type="file"
  accept="image/*"
  (change)="onImageSelected($event)"
  style="display: none"
/>

<ion-modal (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <!--  -->

      <image-cropper
        #imageCropper
        [imageFile]="selectedImage"
        [autoCrop]="false"
      ></image-cropper>

      <!--  -->
    </ion-content>
  </ng-template>
</ion-modal>
