<ion-content>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>

  <ion-card>
    <ion-card-content>
      <ion-input
        type="email"
        label="Email"
        [(ngModel)]="email"
        placeholder="you@example.com"
      ></ion-input>

      <ion-input
        type="password"
        label="Password"
        [(ngModel)]="password"
        placeholder="Enter a strong password"
      ></ion-input>

      <ion-button expand="block" (click)="signup()" [disabled]="loading">
        {{ loading ? 'Creating account...' : 'Sign Up' }}
      </ion-button>

      <ion-text color="success" *ngIf="success">{{ success }}</ion-text>
      <ion-text color="danger" *ngIf="error">{{ error }}</ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
