<ion-card (click)="addReward()">
  <ion-card-header>
    <ion-card-title>{{ kid.name }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    @if (kid.profile_picture_url) {
    <img
      [src]="kid.profile_picture_url"
      alt="Profile picture"
      class="profile-pic"
    />
    } @else {
    <img
      [src]="getAvatarUrl(kid.name)"
      alt="Default avatar"
      class="profile-pic"
    />
    }

    <div class="rewards-container">
      @for (reward of kid.rewards; track reward.id) {
      <app-reward-card [reward]="reward"></app-reward-card>
      }
    </div>
  </ion-card-content>
</ion-card>
