<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/settings/more"></ion-back-button>
    </ion-buttons>
    <ion-title color="danger">Delete My Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="corner"><div></div></div>
  <ion-item lines="none">
    <ion-label>
      By Deleting Your Account, Your will lose all your data.</ion-label
    >
  </ion-item>

  <ion-item lines="none">
    <div slot="start"></div>
    <ion-label>
      <ion-button
        (click)="presentAlertConfirm()"
        class="ion-text-uppsercase"
        color="danger"
        >Delete</ion-button
      >
    </ion-label>
  </ion-item>
</ion-content>
