<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>My Kids</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/kids/kid-form">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  @if (loading()) {
  <div class="loading-container">
    <ion-spinner></ion-spinner>
  </div>
  } @else {
  <ion-grid>
    <ion-row>
      @for (kid of kids(); track kid) {
      <ion-col size="12" size-md="6" size-lg="4">
        <app-kid-card [kid]="kid"></app-kid-card>
      </ion-col>
      }
    </ion-row>
  </ion-grid>
  }
</ion-content>
