<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-profile-card></app-profile-card>
  <ion-list lines="none">
    <ion-item-group>
      <ion-item detail="true" routerLink="/auth/profile">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label> Profile </ion-label>
      </ion-item>

      <app-settings-list></app-settings-list>

      <ion-item detail="true" routerLink="/settings/more">
        <ion-icon name="ellipsis-horizontal-outline" slot="start"></ion-icon>
        <ion-label> More </ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
