<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{is_edit_mode ? 'Edit' : 'Add'}} Child</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="addKidForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Child's Name</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>

    @if(is_edit_mode == false || currentKid?.profile_picture_url == null){

    <app-image-uploader
      (onImageCropped)="handleCroppedImage($event)"
    ></app-image-uploader>

    @if(croppedImageUrl){
    <ion-img [src]="croppedImageUrl"></ion-img>
    }
    <!--  -->
    }
    <!--  -->
    @if(is_edit_mode == true && currentKid?.profile_picture_url != null){
    <ion-img [src]="currentKid?.profile_picture_url"></ion-img>
    }

    <ion-button
      type="submit"
      expand="block"
      [disabled]="addKidForm.invalid || loading"
    >
      @if (loading) {
      <ion-spinner></ion-spinner>
      } @else {
      <span>Add Child</span>
      }
    </ion-button>
  </form>
</ion-content>
