<ion-header>
  <ion-toolbar>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">New Password</ion-label>
    <ion-input type="password" [(ngModel)]="newPassword" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Confirm Password</ion-label>
    <ion-input
      type="password"
      [(ngModel)]="confirmPassword"
      required
    ></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="resetPassword()"
    >Reset Password</ion-button
  >
</ion-content>
