<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="kids-list" href="/tabs/kids-list">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Kids</ion-label>
    </ion-tab-button>
    <!-- 
    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
