<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Manage kids</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- TODO : list of kids as ion-item routed to edit kid form -->

  <ion-list>
    @for (kid of kids(); track kid) {
    <ion-item [routerLink]="['/kids/kid-form', kid.id]">
      <ion-avatar slot="start" size="large">
        <img [src]="getProfilePictureUrl(kid)" />
      </ion-avatar>
      <ion-label>{{ kid.name }}</ion-label>
    </ion-item>
    }
  </ion-list>
</ion-content>
